<div class="container justify-content-center mt-5">
    <div class="container justify-content-md-start">
        <div class="row">
            <label class="col-2" for="rows">Rows per page</label>
            <input class="col-2" type="number" id="rows" min="0" [defaultValue]="this.rows"
                (change)="rowChange($event)" />
        </div>
        <div class="row mt-2">
            <label class="col-2">{{selectedCategory}}</label>
            <select class="col-2" (change)="changeCategory($event)">
                <option>All</option>
                <option *ngFor="let cat of categories">{{cat}}</option>
            </select>
        </div>
    </div>

    <table class="mt-5 table table-success table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Product name</th>
                <th>Category</th>
                <th>Price</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let product of products" [class.pink]="product.price>500">
                <td>{{product.id}}</td>
                <td>{{product.name}}</td>
                <td>{{product.category}}</td>
                <td>{{product.price}}</td>
                <td class="col-md-1 "><button class="btn btn-danger" (click)="remove(product.id)">delete</button></td>
            </tr>
        </tbody>
    </table>
</div>